.rc-intro {
  background-color: #222;
  padding: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
.rc-img {
  max-width: 50px;
}
.rc-title {
  font-size: 5rem;
  margin-top: 3rem;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 700;
  letter-spacing: -2px;
}
.rc-description {
  margin-top: 2rem;
  font-size: 2rem;
  color: #ccc;
}
.user-image {
  max-width: 60px;
  max-height: 60px;
}
.user-list {
  border: 1px solid #ddd;
  tbody tr {
    cursor: pointer;
    transition: background-color 0.1s;
    &:hover {
      background-color: #eee;
    }
  }
}
.thumbnail {
  text-align: center;
  padding: 2rem 1rem;
}
.toolbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
